<div class="container">
  <div class="user-details">
    <h3> </br>About Me </h3>
    <p> <a href="https://rimoe.xyz/cv.pdf">~ 我的简历 | My CV~</a> </p>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
        <h4>小本职 · Expertise</h4>
        <img width="100%" alt="mountains" src="{{ "/assets/img/9001.jpg" | prepend: site.baseurl }}" />
        <p>香港中文大学地理资源管理系</br>地理信息科学专业理学硕士在读</br>MSc. student in Department of Geography and Resource Management, The Chinese University of Hong Kong. Major is GeoInformation Science.</p>
    </div>
    <div class="four columns">
        <h4>小闲情 · Hobbies</h4>
        <img width="100%" alt="mountains" src="{{ "/assets/img/9002.jpg" | prepend: site.baseurl }}" />
        <p>喜欢写点东西，偶尔涂鸦作文，</br>近来在制作独立游戏</br>Enjoy writing. Write novels or draw pictures from time to time. Now I am making an independent game.</p>
    </div>
    <div class="four columns">
        <h4>小玩乐 · Joy</h4>
        <img width="100%" alt="mountains" src="{{ "/assets/img/9003.jpg" | prepend: site.baseurl }}" />
        <p>爱好摄影、旅行、动漫,</br>最近在玩棒球</br>Interest in photography and ACG. Enjoy going trip and playing baseball.</p>
    </div>
  </div>
</div>
