<div class="container">
  <div class="user-details">
    <h3> </br>About Me </h3>
    <p> <a href="http://rimoe.xyz/cv.pdf">~ 我的简历 | My CV~</a> </p>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
        <h4>小本职 · Expertise</h4>
        <img width="100%" alt="mountains" src="{{ "/assets/img/9001.jpg" | prepend: site.baseurl }}" />
        <p>中山大学地理科学与规划学院</br>地理信息科学专业本科在读</br>Undergraduated student in School of Geography and Planning, Sun Yat-sen University. Major subject is Geographical Information Science.</p>
    </div>
    <div class="four columns">
        <h4>小闲情 · Hobbies</h4>
        <img width="100%" alt="mountains" src="{{ "/assets/img/9002.jpg" | prepend: site.baseurl }}" />
        <p>喜欢写点东西，偶尔涂鸦作文，</br>近来在读中国当代小说</br>Enjoy writing. Write novels or draw pictures from time to time. Recently interest in reading novels by contemporary chinese writors.</p>
    </div>
    <div class="four columns">
        <h4>小玩乐 · Joy</h4>
        <img width="100%" alt="mountains" src="{{ "/assets/img/9003.jpg" | prepend: site.baseurl }}" />
        <p>爱好科技、旅行、动漫,</br>最近在玩棒球和网球</br>Interst in science and technology. Enjoy going trip, love animation and manga, recently play baseball and tennis.</p>
    </div>
  </div>
</div>
