<div class="container">
  <div class="user-details">
    <h3> </br>Go to </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/9024.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> 凝萌小记 · BlogRimoe </h5>
      <h6> <a href="http://blog.rimoe.ml">http://blog.rimoe.ml</a> </h6>
      <p>无事可记皆可记。</br>It is a writing board for writing somting bored.</p>
      <a class="project-link" href="http://blog.rimoe.ml">去看看 >></br>Go >></a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
        <img id='loco'alt="mountains" src="{{ "/assets/img/9030.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> 万木更春 · RecentPages </h5>
      <p>刊载最近的内容。</br>Show the recent contain.</p>
      <ul>
        <li>
          <a href="https://github.com/codeRimoe/h5_game_kanna">h5 Game - 坎娜与托尔</a>
        </li>
        <li>
          <a href="https://github.com/codeRimoe/Wolf_and_Sheep">OOP Homework - Wolf and Sheep</a>
        </li>
      </ul>
      <a class="project-link" id='share' href="javascript:void(0)">打赏 >></br>Sponsor>></a>
      <div id='bb'>
          <a id='ali' style="color: #444;" href="javascript:void(0)"><span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa  fa-stack-1x fa-inverse">支</i>
          </span></a>
          <a id='wechat' style="color: #444;" href="javascript:void(0)"><span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-weixin fa-stack-1x fa-inverse"></i>
          </span></a>
          <a id='back' href="javascript:void(0)">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-chevron-circle-left fa-stack-1x fa-inverse"></i>
                </span>
          </a>
      </div>
    </div>
  </div>
</div>


<div id='xx' class = "over">
    <img id="alp" width="100%" src="{{ "/assets/img/sp1.png" | prepend: site.baseurl }}" />
    <img id="wcp" width="100%" src="{{ "/assets/img/sp2.png" | prepend: site.baseurl }}" />
    <img id="lop" width="100%" src="{{ "/assets/img/9030.jpg" | prepend: site.baseurl }}" />
</div>
