<!DOCTYPE html>
<html>
    <head>
        <title>坎娜与托尔 - Rimoe Game</title>
        <meta charset="utf-8">
            </head>
    <body>
        <canvas id="mainCanvas" width="1080" height="600" style="border:solid">
            Element canvas is not supported, please update your browser!
        </canvas>
        <canvas id="stateCanvas" width="1080" height="100" style="border:solid">
            Element canvas is not supported, please update your browser!
        </canvas>
        <script src="{{ "/assets/js/game/kanna/setting.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "/assets/js/game/kanna/obj_K.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "/assets/js/game/kanna/obj_M.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "/assets/js/game/kanna/obj_B.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "/assets/js/game/kanna/obj_X.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "/assets/js/game/kanna/source.js" | prepend: site.baseurl }}"></script>
    </body>
</html>
