<!DOCTYPE html>
<html>
    <head>
        <title>Rimoe Game</title>
        <meta charset="utf-8">
            </head>
    <body>
        <canvas id="mainCanvas" width="1080" height="600" style="border:solid">
            Element canvas is not supported, please update your browser!
        </canvas>
        <canvas id="stateCanvas" width="1080" height="100" style="border:solid">
            Element canvas is not supported, please update your browser!
        </canvas>
        <script type="text/javascript" src="https://raw.githubusercontent.com/codeRimoe/h5_game_kanna/master/js/setting.js"></script>
        <script>
            kimg[0].src = "https://github.com/codeRimoe/h5_game_kanna/blob/master/images/figure/kn?raw=true";
            kimg[1].src = "https://github.com/codeRimoe/h5_game_kanna/blob/master/images/figure/kn2?raw=true";
            ling[0].src = "https://github.com/codeRimoe/h5_game_kanna/blob/master/images/figure/xl?raw=true";
            ling[1].src = "https://github.com/codeRimoe/h5_game_kanna/blob/master/images/figure/xl2?raw=true";
            ming[0].src = "https://github.com/codeRimoe/h5_game_kanna/blob/master/images/figure/tr1?raw=true";
            ming[1].src = "https://github.com/codeRimoe/h5_game_kanna/blob/master/images/figure/tr2?raw=true";
            ming[2].src = "https://github.com/codeRimoe/h5_game_kanna/blob/master/images/figure/tr3?raw=true";
            ming[3].src = "https://github.com/codeRimoe/h5_game_kanna/blob/master/images/figure/tr4?raw=true";
            bing[0].src = "https://github.com/codeRimoe/h5_game_kanna/blob/master/images/boom/boom1?raw=true";
            bing[1].src = "https://github.com/codeRimoe/h5_game_kanna/blob/master/images/boom/boom2?raw=true";
            bing[2].src = "https://github.com/codeRimoe/h5_game_kanna/blob/master/images/boom/boom3?raw=true";
            bing[3].src = "https://github.com/codeRimoe/h5_game_kanna/blob/master/images/boom/boom4?raw=true";
            bing[4].src = "https://github.com/codeRimoe/h5_game_kanna/blob/master/images/boom/boom5?raw=true";
            bing[5].src = "https://github.com/codeRimoe/h5_game_kanna/blob/master/images/boom/boom6?raw=true";
            losepic.src = "https://github.com/codeRimoe/h5_game_kanna/blob/master/images/lose?raw=true";
            stbg.src = "https://github.com/codeRimoe/h5_game_kanna/blob/master/images/bg?raw=true";
            pbg[0].src = "https://github.com/codeRimoe/h5_game_kanna/blob/master/images/pbg?raw=true";
            pbg[1].src = "https://github.com/codeRimoe/h5_game_kanna/blob/master/images/ebg?raw=true";
            sbgmain[0].src = "https://github.com/codeRimoe/h5_game_kanna/blob/master/images/menu?raw=true";
            sbgmain[1].src = "https://github.com/codeRimoe/h5_game_kanna/blob/master/images/help?raw=true";
            sbgst[0].src = "https://github.com/codeRimoe/h5_game_kanna/blob/master/images/sbg?raw=true";
            sbgst[1].src = "https://github.com/codeRimoe/h5_game_kanna/blob/master/images/hbg?raw=true";
            bg.src = "https://github.com/codeRimoe/h5_game_kanna/blob/master/images/background.png?raw=true";
        </script>
        <script type="text/javascript" src="https://raw.githubusercontent.com/codeRimoe/h5_game_kanna/master/js/obj_K.js"></script>
        <script type="text/javascript" src="https://raw.githubusercontent.com/codeRimoe/h5_game_kanna/master/js/obj_M.js"></script>
        <script type="text/javascript" src="https://raw.githubusercontent.com/codeRimoe/h5_game_kanna/master/js/obj_B.js"></script>
        <script type="text/javascript" src="https://raw.githubusercontent.com/codeRimoe/h5_game_kanna/master/js//source.js"></script>
    </body>
</html>
