<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
        <div id="particles-js">
            <div class="content">
                <h1>
                    <span class="site-title">404</span>
                </h1>
                <p>
                    前面的路危险，我们无法继续前行。
                    </br>Dangerous,We can not move forward.
                    </br></br>
                </p>
                <a class="link" href="http://rimoe.xyz">返回首页-Home</a>
                <a class="link" target="_blank" href="https://blog.rimoe.xyz">凝萌小记-Blog</a>
                <div class="icons-header">
                    <a aria-label="Send email" href="mailto:{{site.email}}"><i class="icon fa fa-envelope-o"></i></a>
                    <a aria-label="My Github" target="_blank" href="https://github.com/{{site.github_username}}"><i class="icon fa fa-github" aria-hidden="true"></i></a>
                    <a aria-label="My Weibo" target="_blank" href="https://weibo.com/{{site.weibo_username}}"><i class="icon fa fa-weibo" aria-hidden="true"></i></a>
                    <a aria-label="My Twitter" target="_blank" href="https://twitter.com/{{site.twitter_username}}"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
                    <a aria-label="My Facebook" target="_blank" href="https://www.facebook.com/{{site.facebook_username}}"><i class="icon fa fa-facebook-official" aria-hidden="true"></i></a>
                    <a aria-label="My Zhihu" target="_blank" href="https://www.zhihu.com/people/{{site.zhihu_username}}/activities"><i class="icon fa fa-lightbulb-o" aria-hidden="true"></i></a>
                    <a aria-label="My Jianshu" target="_blank" href="http://www.jianshu.com/u/5745dc55bfb6"><i class="icon fa fa-pencil" aria-hidden="true"></i></a>
                </div>
                <p style="font-size:7px;"></br>{{site.username}} 2017 &copy; all right reserved</br>忘名社 <span class="love">❤</span> Una.</p>
            </div>
            <a class="down" href="http://rimoe.xyz" ><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
        </div>
        <script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
        <script src="{{ "/assets/js/sweet-scroll.min.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
        {% include google-analytics.html %}
    </body>


